h1{
    color: rgb(80, 67, 199);
}
h2{
    color: white
}

body{
    background-color: rgb(0, 0, 0);
}

h3{
    color: rgb(80, 67, 199);
}
td{
    color: white;
}
th{
    color: white;
}
table{
    border-color: rgb(80, 67, 199);
}
.gal{
    display: flex;
    gap: 10px;
    border-spacing: 0cap; color: blueviolet;
}